[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
selenium = "*"
mysql-connector-python = "*"
pytest = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.12"
